<div class="row">
  <div class="col-4 offset-4 p-3 border mt-4">
    <h3 class="text-center text-info">Sign up</h3>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" required placeholder="Name" />
      </div>
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Nit" required />
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >Type</label
            >
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option value="1">CC</option>
            <option value="2">Passport</option>
          </select>
        </div>
        <input type="number" class="form-control" placeholder="ID Number" />
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="email" required />
      </div>
      <button type="submit" class="btn btn-outline-primary btn-block" (click)="register()">
        Register
      </button>
      <div *ngIf="estado" class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
      </div>
      
    </form>
  </div>
</div>
