<div class="row">
  <div class="col-4 offset-4 p-3 border mt-4">
    <h2 class="text-center text-success">Login</h2>
    <form>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          name="email"
          placeholder="email"
          [(ngModel)]="usuario.email"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="password"
          [(ngModel)]="usuario.password"
          required
        />
      </div>
      <button
        type="submit"
        class="btn btn-outline-success btn-block"
        (click)="login()"
      >
        Sign in
      </button>
      <div class="mt-2">
        <a routerLink="/registro" class="text-info">Sign up</a>
      </div>

    </form>
    <div *ngIf="!islogin" class="row text-center animated fadeIn">
      <div class="col">
        <i class="fa fa-sync fa-spin fa-5x text-success"></i>
      </div>
    </div>
    <div *ngIf="error" class="alert alert-danger mt-2" role="alert">
      Email or Password Incorrect!
    </div>
  </div>
</div>
