<div class="col-12">
    <div class="card-columns">
      <div *ngFor="let product of products" class="card m-2">
        <img
          [src]="product.foto"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body text-center">
          <h3 class="card-title"> {{ product.nombre }} </h3>
          <h4> {{ product.tipo }} </h4>
          <h4> {{ product.valor }} </h4>
          <h4> {{ product.cantidad }} </h4>
          <p class="card-text"> {{ product.descripcion }} </p>
        </div>
      </div>
    </div>
  </div>
